.app-container {
  display: flex;
  min-height: 100vh;
  padding-left: 25px;
}
.gallery-conatiner {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  width: 85%;
  margin-top: 34px;
  margin-bottom: 34px;
  max-width: 1140px;
}
.selected-image {
  border-radius: 18px;
  height: 430px;
  width: 700px;
}
.heading {
  color: #1e293b;
  font-size: 24px;
  font-weight: 500;
  margin-top: 24px;
  font-family: "Roboto";
}
.paragraph {
  color: #64748b;
  font-size: 18px;
  font-family: "Roboto";
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}
